.content {
  padding-bottom: 50px;
}

.content p {
  padding-bottom: 15px;
}

.footer-custom {
  padding: 30px;
}

.single-content p {
  padding-bottom: 15px;
}

.single-content {
  padding-bottom: 50px;
}

.header-content {
  padding-bottom: 20px;
}

.subheader-content {
  padding-bottom: 20px;
}
